@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&display=swap');

body,head {
    
    background-color: gray!important;
  }
  .header
  {
    background-color: white !important;
  }
  #head-icon
  {
    height:100px;
  }
  .card-img
  {
    width:200px;
    height:300px;
  }
  .card-body,p
  {
    color:rgb(196, 9, 9);
    font-weight: bold;
  }
  .card:hover
  {
    transform: scale(1.1); 
  }